name: Deploy Prefect flow

on:
    push:
        branches:
            - main

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write

        steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Log in to the Container registry
          uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: ghcr.io/${{ github.repository }}:latest

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.13"

        - name: Prefect Deploy
          env:
            PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
            PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
            PREFECT_IMAGE: ghcr.io/${{ github.repository }}:latest
          run: |
            pip install -e .
            python src/main.py