name: Deploy Prefect flow

on:
    push:
        branches:
            - main

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.12"

        - name: Install uv
          uses: astral-sh/setup-uv@v4
          with:
            version: "latest"

        - name: Install dependencies
          run: uv sync

        - name: Prefect Deploy
          env:
            PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
            PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
          run: uv run prefect deploy --all
